<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>Journal</title>
</head>
<body>
<a href="/user">User</a><br>
<a href="/add_record">Add record</a><br><br>
<p>${message}</p>
<br>
<table border="1">
    <caption>Журнал за месяц</caption>
    <tr>
        <th>Месяц</th>
        <th>Дата</th>
        <th>Д.Недели</th>
        <th>Время</th>
    </tr>
    <#list messages as m>
        <tr><td>${m.mouth}</td><td>${m.data}</td><td>${m.day}</td><td>${m.time}</td></tr>
    </#list>
</table>
</body>
</html>